@model Aliaddo_Ejercicio_Practica.Models.Padre

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Paretales</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class="col-sm-10">
        <dd class="col-sm-10">
            <select asp-for="Children" class="form-control" disabled>
                <option value="">Seleccione un estado</option>
                <option value="true">Si</option>
                <option value="false">No</option>
            </select>
        </dd>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PadreID" class="btn btn-success">Editar Registro</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
</div>
